/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BODY  */
body {
  font-family: $defaultFont;
  font-size: 16px;
  font-weight: $lightWeight;
  min-width: 320px;
}

/* HEADER  */
header {
  display: grid;
  grid-template-columns: 51px auto;
  align-items: center;
  padding: 0.5rem 2vw;
  background-color: #D8E6F2;
  h1 {
    font-size: 1.6rem;
    font-weight: $normalWeight;
    padding-left: 0.5rem;
    color: $secondaryColor;
  }
  a {
    font-weight: $normalWeight;
    text-decoration: none;
    padding-top: .5rem;
    padding-left: .5rem;
    grid-column: 2;
    color: $fontColor;
  }
  a:hover {
    color: #BF7330;
  }
} // end header

/* NAVIGATION STUFF GOES HERE  */
nav {
  ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.9rem 2vw;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #A9BED9;
  } // end of ul li a
  ul li a:hover {
    background-color: $secondaryColor;
    color: white;
  } // end hover
  ul li.active a {
    background-color: lighten($secondaryColor, 40%);
  }
} // end of nav

/* MAIN  */
main {
  p {
    padding: 0.5rem 2vw;
    color: $fontColor;
    line-height: 125%;
  }
  h1 {
    padding: 1rem 2vw 0.5rem 2vw;
    font-size: 1.5rem;
    color: $fontColor;
    font-weight: $normalWeight;
  }
  section {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #80A2BF;
  }
  section div {
    width: 100%;
    padding: 1rem $gutter;
    img {
      width: 100%;
      height: auto;
    }
    h2 {
        font-weight: $lightWeight;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: .5rem;
        padding-top: .5rem;
        background-color: $fontColor;
    }
  }
} // end main

/* FOOTER  */
#footerWrapper {
  background-color: $primaryColor;
}
footer {
  font-size: 0.85rem;
  padding: 1rem 0;
  color: black;
  text-align: center;
  a {
    color: black;
  }
}
